@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

:root{
    --color:#6C5CE7;
}

*{
    font-family: "Poppins", sans-serif;
    margin: 0; border: none;
    padding: 0; outline: none;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

.heading{
    margin: 2rem;
    padding-top: 6rem;
    display: inline-block;
    font-size: 3.5rem;
    color: var(--color);
    position: relative;
    letter-spacing: .2rem;
}

.heading::before, .heading::after{
    content: "";
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    border-top: .4rem solid var(--color);
    border-left: .4rem solid var(--color);
}

.heading::before{
    top: 5.8rem;
    left: -2rem;
}

.heading::after{
    bottom: -.5rem;
    right: -2rem;
    transform: rotate(180deg);
}


.btn{
    outline: none;
    border: none;
    border-radius: 5rem;
    background: var(--color);
    color: #fff;
    cursor: pointer;
    height: 3.5rem;
    width: 15rem;
    font-size: 1.8rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.btn:hover{
    letter-spacing: .1rem;
    opacity: .8;
}

/*header section*/

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
}

.header .logo{
    font-size: 2.5rem;
    color: #fff;
}

.header .logo i{
    padding: 0 .5rem;
}

.header .navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navbar ul li{
    margin: 0 1.5rem;
    cursor: pointer;
}

.header .navbar ul li:hover a{
    color: #ccc;
}

.header .navbar ul li a{
    font-size: 2rem;
    color: #fff;
}


.header .fa-bars{
    display: none;
    cursor: pointer;
    color: #fff;
    font-size: 3rem;
}

/*Home section*/

.home{
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(purple, var(--color));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
}

.home .banner{
    color: #fff;
    font-size: 5rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.home .slogan{
    color: #eee;
    font-size: 2.5rem;
    font-weight: 400    ;
}

.team button{
    height: 4rem;
    width: 18rem;
    background: #fff;
    color: #444;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 1rem;
    border-radius: .5rem;
    font-size: 2rem;
    font-weight: 400;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.team button:hover{
    letter-spacing: .1rem;
    background: var(--color);
    color: #fff;
}

.home button{
    height: 4rem;
    width: 18rem;
    background: #fff;
    color: #444;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 1rem;
    border-radius: .5rem;
    font-size: 2rem;
    font-weight: 400;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.home button:hover{
    letter-spacing: .1rem;
}

/*Animation nuvem*/

.home .wave{
    position: absolute;
    bottom: -.5rem;
    left: 0;
    height: 11rem;
    background: url(./images/wave.png);
    background-size: 100rem 11rem;
    width: 100%;
    background-repeat: repeat-x;
    animation: waves 10s linear infinite;
}

.home .wave2{
    animation-direction: reverse;
    opacity: .2;
}

.home .wave3{
    animation-duration: 4s;
    opacity: .5;
}

@keyframes waves{
    0%{
        background-position-x: 0;
    }

    100%{
        background-position-x: 100rem;
    }
}

/*Animation nuvem*/

.home .fa-cog{
    position: absolute;
    font-size: 30rem;
    opacity: .15;
    color: #fff;
    animation: rotate 10s linear infinite;
}

.home .nut1{
    top: 10%;
    left: -15rem;
}

.home .nut2{
    bottom: 23%;
    right: -13rem;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}


/*about section*/

.about{
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
}

.about .row .content{
    text-align: left;
}

.about .row .image img{
    width: 50vw;
}

.about .row .content h3{
    font-size: 3rem;
    color: var(--color);
}

.about .row .content p{
    font-size: 1.5rem;
    color: #333;
    padding: 1rem 0;
}

.about .row .content a .btn{
    margin-top: 1.5rem;
}

.about::before, .about::after{
    content: "";
    position: absolute;
    z-index: -1;
    opacity: .2;
    border-radius: 50%;
}

.about::before{
    height: 50rem;
    width: 50rem;
    background: #ccc;
    bottom: 10rem;
    left: -10rem;
}

.about::after{
    height: 60rem;
    width: 60rem;
    background: var(--color);
    top: -10rem;
    right: -10rem;
}

.header.css{
    background: var(--color);
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

/*service section*/

.service{
    width: 100vw;
    text-align: center;
}

.service .row{
    margin: 2rem 0;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service .row .image img{
    width: 50vw;
    height: 55vh;
}

.service .row .content{
    text-align: left;
    padding: 0 3rem;
}

.service .row .content h3{
    font-size: 3rem;
    color: var(--color);
}

.service .row .content p{
    font-size: 1.5rem;
    color: #333;
    padding: 1rem 0;
}

/*Team section*/

.team{
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: #222;
}

.team .heading{
    color: #fff;
}

.team .heading::before, .team .heading::after{
    border-color: #fff;
}

.team .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.team .row .card{
    height: 50rem;
    width: 25rem;
    background: #fff;
    text-align: center;
    margin: 7rem 2rem;
    position: relative;
    overflow: hidden;
    -webkit-box-reflect: below .2rem linear-gradient(transparent 70%, #0004);
}

.team .row .card .image{
    margin: 1rem 0;
    padding-top: 4rem;
}

.team .row .card .image img{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    border: .5rem solid #fff;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .3);
    object-fit: cover;
}

.team .row .card .info h3{
    font-size: 2rem;
    color: #333;
}

.team .row .card .info span{
    font-size: 1.8rem;
    color: var(--color);
}

.team .row .card .info .icons a{
    margin-top: 4rem;
    padding: 2 1rem;
    font-size: 5rem;
    color: #333; 
}

.team .row .card .info .icons a:hover{
    color: var(--color);
}

.team .row .card .info .exclusivo{
    margin-top: 3rem;
    padding: 2 1rem;
    font-size: 5rem;
    color: #333; 
}

.team .row .card::before, .team .row .card::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    z-index: -1;
    opacity: .6;
}

.team .row .card::before{
    background: var(--color);
    top: -3rem; right: -4rem;
}

.team .row .card::after{
    background: #333;
    opacity: .2;
    bottom: -3rem; left: -4rem;
}

/*Contact section*/

.contact{
    min-height: 70vh;
    width: 100vw;
    text-align: center;
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .row .image img{
    height: 70vh;
    width: 50vw;
}

.contact .row .whatsapp{
    width: 50%;
    text-align: left;
    padding: 0 5rem;
}

.contact .row .whatsapp input, textarea{
    outline: none;
    border: none;
    height: 4rem;
    background: none;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, .3);
    padding: 0 1rem;
    margin: 1rem 0;
    font-size: 1.6rem;
}

.contact .row .whatsapp .inputBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact .row .whatsapp .inputBox input[type=text]{
    width: 49%;
}

.contact .row .whatsapp input[type=email]{
    width: 100%;
}

.contact .row .whatsapp textarea{
    width: 100%;
    height: 20rem;
    padding: 1rem;
    resize: none;
}

.contact .row .whatsapp input[type=submit]{
    background-color: var(--color);
    color: #fff;
    cursor: pointer;
    height: 4rem;
    width: 100%;
}

.contact .row .whatsapp input[type=submit]:hover{
    opacity: .8;
    letter-spacing: .1rem;
}

/*Faq section*/

.faq{
    min-width: 100vh;
    width: 100vw;
    text-align: center;
    padding: 0 2rem;
}

.faq .row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;    
}

.faq .row .image img{
    height: 70vh;
    width: 50vw;
}

.faq .row .accordion-container{
    width: 50%;
    text-align: left;
}

.faq .row .accordion-container .accordion .accordion-header{
    background-color: var(--color);
    margin: 1rem 0;
    box-shadow: .1rem .1rem .3rem rgba(0, 0, 0, .3);
    cursor: pointer;
}

.faq .row .accordion-container .accordion .accordion-header span{
    display: inline-block;
    text-align: center;
    height: 4rem;
    width: 5rem;
    line-height: 4rem;
    font-size: 2rem;
    background: #fff;
    color: #333;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.faq .row .accordion-container .accordion .accordion-header h3{
    display: inline;
    color: #fff;
    font-weight: 400;
    padding-left: .5rem;
    font-size: 1.5rem;
}

.faq .row .accordion-container .accordion .accordion-body{
    padding: 1rem;
    color: #444;
    box-shadow: .1rem .1rem .3rem rgba(0, 0, 0, .3);
    font-size: 1.5rem;
    display: none;
}

.faq .row .accordion-container .accordion:nth-child(1) .accordion-body{
    display: block;
}

/*Footer section*/

.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1.5rem;
    padding: 1rem 2rem;
    margin-top: 1rem;
    background: var(--color);
}

.footer h1{
    color: #fff;
    letter-spacing: .1rem;
    font-weight: 400;
}

.footer .icons a{
    color: #fff;
    font-size: 1.8rem;
    padding: 0 1rem;
}

.footer .icons a:hover{
    color: #c2baff;
    letter-spacing: .1rem;
}

.footer span{
    color: #000;
    font-weight: bold;
}


@media (max-width:768px){
    html{
        font-size: 55%;
    }

    .header .fa-bars{
        display: block;
    }

    .header .navbar{
        position: fixed;
        top: -120%; left: 0;
        height: auto;
        width: 100%;
        background-color: #fff;
        z-index: 1000;
        border-top: .1rem solid rgba(0, 0, 0, .3);
    }

    .header .navbar.active{
        top: 5.5%;
    }

    .header .navbar ul{
        height: 100%;
        width: 100%;
        flex-flow: column;
    }

    .header .navbar ul li{
        margin: 1rem 0;
        border: .3rem solid var(--color);
        height: 70%;
        width: 70%;
        border-radius: .5rem;
        text-align: center;
    }

    .header .navbar ul li a{
        color: #444;
        font-size: 2.5rem;
    }

    .header .fa-times{
        transform: rotate(180deg);
    }

    .home .banner{
        font-size: 4rem;
    }

    .home .slogan{
        font-size: 1.7rem;
    }

    .about .row{
        flex-flow: column-reverse;
        padding: 0 2rem;
    }

    .about .row .image img{
        height: 80vw;
        width: 100%;
    }

    .about .row .content a .btn{
        display: flex;
        line-height: 3.5rem;
        justify-content: center;
        margin: 1rem auto;
    }

    .service .row{
        flex-flow: column-reverse;
    }

    .service .row:nth-child(even){
        flex-flow: column;
    }

    .service .row .image img{
        width: 100vw;
    }

    .service .row .content{
        padding: 0;
    }

    .contact .row{
        flex-flow: column;
    }

    .contact .row .image img{
        width: 100vw;
    }

    .contact .row .whatsapp{
        width: 95%;
        padding: 0 1.5rem;
    }

    .faq{
        padding: 0;
    }

    .faq .row{
        padding: 0 1rem;
        flex-flow: column;
    }

    .faq .row .image img{
        width: 100vw;
    }

    .faq .row .accordion-container{
        width: 80%;
        margin-right: 5rem;
    }
}

@media (max-width:550px){
    .faq .row {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .faq .row .accordion-container{
        width: 100%;
        margin-left: 5rem;
    }
}
















